<h3>Completed Exercises</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Reps</th>
            <th>Weight</th>
            <th>Date</th>
            <th>Lbs</th>
            <th colspan=2>Actions</th>
            
        </tr>
    </thead>
	<tbody id="dataTable">

	</tbody>
</table>