<h3>Completed Exercises</h3>
<table id="dataTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Reps</th>
            <th>Weight</th>
            <th>Date</th>
            <th>Lbs</th>
            <th>Actions</th>
        </tr>
    </thead>
	<tbody>

	</tbody>
</table>