<!doctype html>
<html>
<head>
	<title>Database Interactions</title>
</head>
<body>
	<h1>Welcome to the Workout Tracker of Awesomeness!</h1>
	<p>Enter a workout set:</p>
	<fieldset>
        <legend>Enter a Workout set</legend>
        <label for="name">Name</label>
        <input type="text" name="name" id="name"><br />
        <label for="reps">Reps</label>
        <input type="text" name="reps" id="reps"><br />
        <label for="weight">Weight</label>
        <input type="text" name="weight" id="weight"><br />
        <label for="Date">Date</label>
        <input type="text" name="date" id="date"><br />
        <label for="lbs">Lbs (default is Kg)</label>
        <input type="checkbox" name="lgs" id="lgs"><br />
        <input type="submit" id="exerciseSubmit">
	</fieldset>
	<BR>
	{{{body}}}
	<script src="MainJS.js"></script>
</body>
</html>