table {
    border-style:solid;
    border-width:2px;
}

tbody tr:nth-of-type(odd) {
    background: lightblue;
}

tbody tr:nth-of-type(even) {
    background: white;
}

td {
    border-style:solid;
    border-width:1px;

}

th {
    border-style:solid;
    border-width:1px;
}

input.hiding {
	visibility:hidden;
	width:0px;
}

input.showing {
	visibility: visible;
	width:100px;
}

div.hiding {
	float:right;
	visibility:hidden;
}

div.showing {
	float:right;
	visibility: visible;
}
showingMyButton {
	visibility: visible;
	width:20px;
}
CBhiding {
	disabled:true;
}
CBshowing {
	disabled:false;
}